<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Player Ladder</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="form_handler.js"></script>
</head>
<body id="main_body" >
  <img id="top" src="top.png" alt="">
  <div id="form_container">
    <h1><a>Player Ladder</a></h1>
    <div class="form_description">
      <h2>Live ATTTC Ladder as of {{date_string}}</h2>
      <h3><a href="main_menu">Main Menu</a></h3>
    </div>
    <h2>A-Ladder</h2>
    <table border="1" style="width:100%">
      <tr>
        <th style="width:7%">Rank</th>
        <th style="width:7%">ID</th>
        <th style="width:51%">Name</th>
        <th style="width:7%">Pts</th>
        <th style="width:7%">LW</th>
        <th style="width:7%">LL</th>
        <th style="width:7%">W</th>
        <th style="width:7%">L</th>
      </tr>
      {% set i = 0 %}
      {% for a in a_ladder %}
        {% set i = i + 1 %}
        {% block a %}
          <tr>
            <td>{{ str(i) }}</td>
            <td>{{ escape(str(a.get('id'))) }}</td>
            <td>{{ escape(str(a.get('first_name')) + " " + str(a.get('last_name'))) }}</td>
            <td>{{ escape(str(a.get('points'))) }}</td>
            <td>{{ escape(str(a.get('ladder_wins'))) }}</td>
            <td>{{ escape(str(a.get('ladder_losses'))) }}</td>
            <td>{{ escape(str(a.get('wins'))) }}</td>
            <td>{{ escape(str(a.get('losses'))) }}</td>
          </tr>
        {% end %}
      {% end %}
    </table>
    <h2>B-Ladder</h2>
    <table border="1" style="width:100%">
      <tr>
        <th style="width:7%">Rank</th>
        <th style="width:7%">ID</th>
        <th style="width:51%">Name</th>
        <th style="width:7%">Pts</th>
        <th style="width:7%">LW</th>
        <th style="width:7%">LL</th>
        <th style="width:7%">W</th>
        <th style="width:7%">L</th>
      </tr>
      {% set i = 0 %}
      {% for b in b_ladder %}
        {% set i = i + 1 %}
        {% block b %}
          <tr>
            <td>{{ str(i) }}</td>
            <td>{{ escape(str(b.get('id'))) }}</td>
            <td>{{ escape(str(b.get('first_name')) + " " + str(b.get('last_name'))) }}</td>
            <td>{{ escape(str(b.get('points'))) }}</td>
            <td>{{ escape(str(a.get('ladder_wins'))) }}</td>
            <td>{{ escape(str(a.get('ladder_losses'))) }}</td>
            <td>{{ escape(str(a.get('wins'))) }}</td>
            <td>{{ escape(str(a.get('losses'))) }}</td>
          </tr>
        {% end %}
      {% end %}
    </table>
    <h2>C-Ladder</h2>
    <table border="1" style="width:100%">
      <tr>
        <th style="width:7%">Rank</th>
        <th style="width:7%">ID</th>
        <th style="width:51%">Name</th>
        <th style="width:7%">Pts</th>
        <th style="width:7%">LW</th>
        <th style="width:7%">LL</th>
        <th style="width:7%">W</th>
        <th style="width:7%">L</th>
      </tr>
      {% set i = 0 %}
      {% for c in c_ladder %}
        {% set i = i + 1 %}
        {% block c %}
          <tr>
            <td>{{ str(i) }}</td>
            <td>{{ escape(str(c.get('id'))) }}</td>
            <td>{{ escape(str(c.get('first_name')) + " " + str(c.get('last_name'))) }}</td>
            <td>{{ escape(str(c.get('points'))) }}</td>
            <td>{{ escape(str(a.get('ladder_wins'))) }}</td>
            <td>{{ escape(str(a.get('ladder_losses'))) }}</td>
            <td>{{ escape(str(a.get('wins'))) }}</td>
            <td>{{ escape(str(a.get('losses'))) }}</td>
          </tr>
        {% end %}
      {% end %}
    </table>
    <div id="footer">
      Generated by <a href="http://www.phpform.org">pForm</a>
    </div>
  </div>
  <img id="bottom" src="bottom.png" alt="">
</body>
</html>
