<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Jim Improved and Modernized (J.I.M.)</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="js/form_handler.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
  </head>

  <body id="main_body" onload="get_pending_matches()">
    <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="/">J.I.M.</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="ladder">Ladder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="roster">Roster</a>
          </li>
          {% if admin %}
            <li class="nav-item">
              <a class="nav-link" href="player_form">Manage Players</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="match_form">Manage Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="account_form">Manage Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="season_form">Manage Seasons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tournament_form">Manage Tournaments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="token_form">Manage Token Access</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news_form">Edit News</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="player_form_restricted">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile">My Profile</a>
            </li>
            {% if player_reports_matches %}
            <li class="nav-item">
              <a class="nav-link" href="match_form_restricted">Report Match</a>
            </li>
            {% end %}
          {% end %}
        </ul>
        <a class="nav-link" href="logout">Logout</a>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <main class="col-sm-12 col-md-12 pt-3" role="main">
	  <h1>Live ATTTC Ladder as of {{date_string}}</h1>
	  <h2>Season: {{season_string}}</h2>
          <form action="ladder" method="post">
          <label class="description" for="since_date">Show matches since </label>
          <span>
            <input id="since_date_1" name="since_date_1" class="element text" size="2" maxlength="2" value="" type="text"> /
            <label for="since_date_1">MM</label>
          </span>
          <span>
            <input id="since_date_2" name="since_date_2" class="element text" size="2" maxlength="2" value="" type="text"> /
            <label for="since_date_2">DD</label>
          </span>
          <span>
            <input id="since_date_3" name="since_date_3" class="element text" size="4" maxlength="4" value="" type="text">
            <label for="since_date_3">YYYY</label>
          </span>
          <span id="calendar_match">
            <img id="cal_img_match" class="datepicker" src="calendar.gif" alt="Pick a date.">
          </span>
          <script type="text/javascript">
            Calendar.setup({
            inputField         : "since_date_3",
            baseField    : "since_date",
            displayArea  : "calendar_match",
            button                 : "cal_img_match",
            ifFormat         : "%B %e, %Y",
            onSelect         : selectDate
            });
          </script>
          <input type="submit" value="Refresh">
          </form>
          <p>&nbsp;</p>
          <h2>A-Ladder</h2>
          <h3>Recent matches:</h3>
          {% for am in a_matches %}
            {% block am %}
            <p>
              {{str(am.get('date'))}}:
              {{str(am.get('winner_last_name'))}} <i>def.</i>
              {{str(am.get('loser_last_name'))}} : &nbsp;&nbsp;
              {{str(am.get('score'))}}
              {{str(am.get('notes'))}}
            </p>
            {% end %}
          {% end %}
          <div class="table-responsive"><table class="table table-stripped">
            <thead>
              <th>Rank</th>
              <th>ID</th>
              <th>Name</th>
              <th>Pts</th>
              <th>W-A</th>
              <th>L-A</th>
              <th>W</th>
              <th>L</th>
            </thead>
	    <tbody>
              {% set i = 0 %}
              {% for a in a_ladder %}
                {% set i = i + 1 %}
                {% block a %}
                  <tr>
                    <td>{{ str(i) }}</td>
                    <td>{{ str(a.get('id')) }}</td>
                    <td><a href="profile?player_id={{str(a.get('id'))}}">{{ ("* " if a.get('tournament_qualified') else "") + str(a.get('first_name')) + " " + str(a.get('last_name')) }}</a></td>
                    <td>{{ str(a.get('points')) }}</td>
                    <td>{{ str(a.get('a_wins')) }}</td>
                    <td>{{ str(a.get('a_losses')) }}</td>
                    <td>{{ str(a.get('wins')) }}</td>
                    <td>{{ str(a.get('losses')) }}</td>
                  </tr>
                {% end %}
              {% end %}
            </tbody>
          </table></div>

          <p>&nbsp;</p>
          <h2>B-Ladder</h2>
          <h3>Recent matches:</h3>
          {% for bm in b_matches %}
            {% block bm %}
              <p>
                {{str(bm.get('date'))}}:
                {{str(bm.get('winner_last_name'))}} <i>def.</i>
                {{str(bm.get('loser_last_name'))}} : &nbsp;&nbsp;
                {{str(bm.get('score'))}}
                {{str(bm.get('notes'))}}
              </p>
            {% end %}
          {% end %}
          <div class="table-responsive"><table class="table table-stripped">
            <thead>
              <th>Rank</th>
              <th>ID</th>
              <th>Name</th>
              <th>Pts</th>
              <th>W-B</th>
              <th>L-B</th>
              <th>W</th>
              <th>L</th>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for b in b_ladder %}
              {% set i = i + 1 %}
              {% block b %}
                <tr>
                  <td>{{ str(i) }}</td>
                  <td>{{ str(b.get('id')) }}</td>
                  <td><a href="profile?player_id={{str(b.get('id'))}}">{{ ("* " if b.get('tournament_qualified') else "") + str(b.get('first_name')) + " " + str(b.get('last_name')) }}</a></td>
                  <td>{{ str(b.get('points')) }}</td>
                  <td>{{ str(b.get('b_wins')) }}</td>
                  <td>{{ str(b.get('b_losses')) }}</td>
                  <td>{{ str(b.get('wins')) }}</td>
                  <td>{{ str(b.get('losses')) }}</td>
                </tr>
              {% end %}
            {% end %}
            </tbody>
          </table></div>

          <p>&nbsp;</p>
          <h2>C-Ladder</h2>
          <h3>Recent matches:</h3>
          {% for cm in c_matches %}
            {% block cm %}
              <p>
                {{str(cm.get('date'))}}:
                {{str(cm.get('winner_last_name'))}} <i>def.</i>
                {{str(cm.get('loser_last_name'))}} : &nbsp;&nbsp;
                {{str(cm.get('score'))}}
                {{str(cm.get('notes'))}}
              </p>
            {% end %}
          {% end %}
          <div class="table-responsive"><table class="table table-stripped">
            <thead>
              <th>Rank</th>
              <th>ID</th>
              <th>Name</th>
              <th>Pts</th>
              <th>W-C</th>
              <th>L-C</th>
              <th>W</th>
              <th>L</th>
            </thead>
            {% set i = 0 %}
            {% for c in c_ladder %}
              {% set i = i + 1 %}
              {% block c %}
                <tr>
                  <td>{{ str(i) }}</td>
                  <td>{{ str(c.get('id')) }}</td>
                  <td><a href="profile?player_id={{str(c.get('id'))}}">{{ ("* " if c.get('tournament_qualified') else "") + str(c.get('first_name')) + " " + str(c.get('last_name')) }}</a></td>
                  <td>{{ str(c.get('points')) }}</td>
                  <td>{{ str(c.get('c_wins')) }}</td>
                  <td>{{ str(c.get('c_losses')) }}</td>
                  <td>{{ str(c.get('wins')) }}</td>
                  <td>{{ str(c.get('losses')) }}</td>
                </tr>
              {% end %}
            {% end %}
          </table></div>

          <p>&nbsp;</p>
          <h2>Unranked</h2>
          <div class="table-responsive"><table class="table table-stripped">
            <thead>
              <th>Rank</th>
              <th>ID</th>
              <th>Name</th>
              <th>Pts</th>
              <th>W-U</th>
              <th>L-U</th>
              <th>W</th>
              <th>L</th>
            </thead>
            {% set i = 0 %}
            {% for u in u_ladder %}
              {% set i = i + 1 %}
              {% block u %}
                <tr>
                  <td>{{ str(i) }}</td>
                  <td>{{ str(u.get('id')) }}</td>
                  <td><a href="profile?player_id={{str(u.get('id'))}}">{{ ("* " if u.get('tournament_qualified') else "") + str(u.get('first_name')) + " " + str(u.get('last_name')) }}</a></td>
                  <td>{{ str(u.get('points')) }}</td>
                  <td>0</td>
                  <td>0</td>
                  <td>{{ str(u.get('wins')) }}</td>
                  <td>{{ str(u.get('losses')) }}</td>
                </tr>
              {% end %}
            {% end %}
          </table></div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.4/umd/popper.min.js" integrity="sha256-KTKnuJPRS70XKLm+ka+irprJFaz/MLZQKHIID7ECCmw=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
