<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Jim Improved and Modernized (J.I.M.)</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="js/form_handler.js"></script>
  </head>

  {% if player_reports_matches and admin %}
    <body id="main_body" onload="get_pending_matches()">
  {% else %}
    <body id="main_body" onload="">
  {% end %}
    <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="/">J.I.M.</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ladder">Ladder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="roster">Roster</a>
          </li>
          {% if admin %}
            <li class="nav-item">
              <a class="nav-link" href="player_form">Players</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="match_form">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="account_form">Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="season_form">Seasons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tournament_form">Tournaments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news_form">News</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="player_form_restricted">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile">My Profile</a>
            </li>
            {% if player_reports_matches %}
            <li class="nav-item">
              <a class="nav-link" href="match_form_restricted">Report Match</a>
            </li>
            {% end %}
          {% end %}
        </ul>
        <a class="nav-link" href="logout">Logout</a>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main class="col-sm-12 col-md-12 pt-3" role="main">
          <h1>Jim Improved and Modernized (J.I.M.)</h1>
          {% if not admin %}
          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <a href="ladder"><img src="ladder.png" width="200" height="200" class="img-fluid rounded-circle" style="background-color: royalblue" alt="Club Ladder"></a>
              <h4>Ladder</h4>
              <div class="text-muted">View the ladder</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="roster"><img src="roster.png" width="200" height="200" class="img-fluid rounded-circle" style="background-color: royalblue" alt="Club Roster"></a>
              <h4>Roster</h4>
              <span class="text-muted">List players</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="match_form_restricted"><img src="match.png" width="200" height="200" class="img-fluid rounded-circle" style="background-color: royalblue" alt="Report Match"></a>
              <h4>Match</h4>
              <span class="text-muted">Report your match</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="player_form_restricted"><img src="user.png" width="200" height="200" class="img-fluid rounded-circle" style="background-color: royalblue", alt="Edit Account"></a>
              <h4>Account</h4>
              <span class="text-muted">Edit your info</span>
            </div>
          </section>
          {% end %}
          {% if player_reports_matches %}
            {% if admin %}
              <h2>Pending Matches</h2>
              <div id="pending_matches" class="col-md-12 lead">Loading ...</div>
              <hr>
            {% else %}
              {% if pending_matches %}
                <h3>Your Pending Matches:</h3>
                {% for m in pending_matches %}
                  {% block m %}
                  <p>
                    {{str(m.get('date'))}}:&nbsp;&nbsp;
                    {{str(m.get('winner_last_name'))}} <i>def.</i>
                    {{str(m.get('loser_last_name'))}} : &nbsp;&nbsp;
                    {{str(m.get('score'))}}
                    {{str(m.get('notes'))}}
                  </p>
                  {% end %}
                {% end %}
              {% end %}
            {% end %}
          {% end %}
          <h2>Club News</h2>
          <p class = "lead">
              {% for news_line in news_content_list %}
                {% block news_line %}
                  {{news_line}}<br>
                {% end %}
              {% end %}
          <p>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.4/umd/popper.min.js" integrity="sha256-KTKnuJPRS70XKLm+ka+irprJFaz/MLZQKHIID7ECCmw=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
