<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Match Entry Form</title>
<link rel="stylesheet" type="text/css" href="css/view.css" media="all">
<script type="text/javascript" src="js/calendar.js"></script>
<script type="text/javascript" src="js/form_handler.js"></script>
</head>
<body id="main_body" >
  <img id="top" src="top.png" alt="">
    <div id="form_container">

      <h1><a>Match Entry Form</a></h1>
      <form id="match_form" class="appnitro"  method="post" action="/"
            onsubmit="return false">
        <div class="form_description">
          <h2>Match Entry Form</h2>
          <h3><a href="main_menu">Main Menu</a>
            <a href="logout">Logout</a></h3>
        </div>
        <div id="match_list"></div>
        <input id="add_match_2" class="button_text" type="button" name="submit" value="Submit" onclick="process_match_form('add_match', '')"/>
        <ul >

          <li id="li_1" >
            <label class="description" for="player_1">Player 1</label>
            <div style="float:left;width:30%">
              <label class="description" for="player_1_last_name">Last Name </label>
              <input style="width:100%" id="player_1_last_name" name="player_1_last_name" class="element text small" type="text" maxlength="255" value="" oninput="player_box_completion('player_1_last_name', 'player_1_id', 0, 'id')"/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="player_1_id">ID </label>
              <input style="width:100%" id="player_1_id" name="player_1_id" class="element text small" type="text" maxlength="5" value="" oninput="player_box_completion('player_1_last_name', 'player_1_id', 1, 'last_name')"/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="player_1_challenger">Challenger </label>
              <input style="width:100%" id="player_1_challenger" name="player_1_challenger" class="element text small" type="checkbox" onclick="reset_checkbox('player_2_challenger')" checked/>
            </div>
            <div style="float:left;width:10%">
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="set_1_player_1_score">Set 1 </label>
              <input style="width:100%" id="set_1_player_1_score" name="set_1_player_1_score" class="element text small" type="text" maxlength="1" value=""/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="set_2_player_1_score">Set 2 </label>
              <input style="width:100%" id="set_2_player_1_score" name="set_2_player_1_score" class="element text small" type="text" maxlength="1" value=""/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="set_3_player_1_score">Set 3 </label>
              <input style="width:100%" id="set_3_player_1_score" name="set_3_player_1_score" class="element text small" type="text" maxlength="1" value=""/>
            </div>
          </li>

          <li id="li_2" >
            <label class="description" for="player_2">Player 2</label>
            <div style="float:left;width:30%">
              <label class="description" for="player_2_last_name">Last Name </label>
              <input style="width:100%" id="player_2_last_name" name="player_2_last_name" class="element text small" type="text" maxlength="255" value="" oninput="player_box_completion('player_2_last_name', 'player_2_id', 2, 'id')"/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="player_2_id">ID </label>
              <input style="width:100%" id="player_2_id" name="player_2_id" class="element text small" type="text" maxlength="5" value="" oninput="player_box_completion('player_2_last_name', 'player_2_id', 3, 'last_name')"/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="player_2_challenger">Challenger </label>
              <input style="width:100%" id="player_2_challenger" name="player_2_challenger" class="element text small" type="checkbox" onclick="reset_checkbox('player_1_challenger')"/>
            </div>
            <div style="float:left;width:10%">
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="set_1_player_2_score">Set 1 </label>
              <input style="width:100%" id="set_1_player_2_score" name="set_1_player_2_score" class="element text small" type="text" maxlength="1" value=""/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="set_2_player_2_score">Set 2 </label>
              <input style="width:100%" id="set_2_player_2_score" name="set_2_player_2_score" class="element text small" type="text" maxlength="1" value=""/>
            </div>
            <div style="float:left;width:10%">
              <label class="description" for="set_3_player_2_score">Set 3 </label>
              <input style="width:100%" id="set_3_player_2_score" name="set_3_player_2_score" class="element text small" type="text" maxlength="1" value=""/>
            </div>
          </li>

          <li id="li_3" >
          </li>
          <li id="li_5" >
            <label class="description" for="match_date">Date match completed </label>
            <span>
              <input id="match_date_1" name="match_date_1" class="element text" size="2" maxlength="2" value="" type="text"> /
                <label for="match_date_1">MM</label>
              </span>
              <span>
                <input id="match_date_2" name="match_date_2" class="element text" size="2" maxlength="2" value="" type="text"> /
                  <label for="match_date_2">DD</label>
                </span>
                <span>
                  <input id="match_date_3" name="match_date_3" class="element text" size="4" maxlength="4" value="" type="text">
                    <label for="match_date_3">YYYY</label>
                  </span>

                  <span id="calendar_match">
                    <img id="cal_img_match" class="datepicker" src="calendar.gif" alt="Pick a date.">
                    </span>
                    <script type="text/javascript">
                      Calendar.setup({
                      inputField         : "match_date_3",
                      baseField    : "match_date",
                      displayArea  : "calendar_match",
                      button                 : "cal_img_match",
                      ifFormat         : "%B %e, %Y",
                      onSelect         : selectDate
                      });
                    </script>
                  </li>                <li id="li_12" >
                    <label class="description" for="match_outcome">Match outcome </label>
                    <span>
                      <input id="match_outcome_1" name="match_outcome" class="element radio" type="radio" value="1" />
                      <label class="choice" for="match_outcome_1">Completed normally</label>
                      <input id="match_outcome_2" name="match_outcome" class="element radio" type="radio" value="2" />
                      <label class="choice" for="match_outcome_2">Retired</label>
                      <input id="match_outcome_3" name="match_outcome" class="element radio" type="radio" value="3" />
                      <label class="choice" for="match_outcome_3">No-show or forfeit</label>

                    </span>
                  </li>
                  <li class="buttons">
                    <input type="hidden" name="form_id" value="1066362" />

                    <input id="add_match" class="button_text" type="button" name="submit" value="Submit" onclick="process_match_form('add_match', '')"/>
                  </li>
                </ul>
              </form>
              <div id="footer">
                Generated by <a href="http://www.phpform.org">pForm</a>
              </div>
            </div>
            <img id="bottom" src="bottom.png" alt="">
            </body>
          </html>
