<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Jim Improved and Modernized (J.I.M.)</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">
    <script type="text/javascript" src="js/form_handler.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
  </head>

  <body id="main_body">
    <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="/">J.I.M.</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ladder">Ladder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="roster">Roster</a>
          </li>
          {% if admin %}
            <li class="nav-item">
              <a class="nav-link" href="player_form">Players</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="match_form">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="account_form">Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="season_form">Seasons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tournament_form">Tournaments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="news_form">News</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="player_form_restricted">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile">My Profile</a>
            </li>
            {% if player_reports_matches %}
            <li class="nav-item">
              <a class="nav-link" href="match_form_restricted">Report Match</a>
            </li>
            {% end %}
          {% end %}
        </ul>
        <a class="nav-link" href="logout">Logout</a>
      </div>
    </nav>
    <div class="container-fluid">
      <h1>News Editor</h1>
      <main class="col-sm-12 col-md-12 pt-3" role="main">
        <form id="news_form" method="post" action="news_form">
          <div class="form-group">
            <div class="row">
              <div class="col-md-3">
                <input id="publish_news" class="btn btn-md btn-primary btn-block" type="submit" name="news_content" value="Publish">
              </div>
              <div class="col-md-3">
                <input id="reset_form" class="btn btn-md btn-secondary btn-block" type="reset" name="reset_form" value="Reset">
              </div>
            </div>
            <div class="row">
              <label for="news_content"><span style="font-weight:bold;">Enter News</span></label>
            </div>
            <div class="row">
              <div class="col-md-12">
                <textarea id="news_content" name="news_content" class="form-control" rows="10">
                  {{news_content}}
                </textarea>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.4/umd/popper.min.js" integrity="sha256-KTKnuJPRS70XKLm+ka+irprJFaz/MLZQKHIID7ECCmw=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
