<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Jim Improved and Modernized (J.I.M.)</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="js/form_handler.js"></script>
  </head>

  <body id="main_body" onload="get_logged_in_player_data()">
    <nav class="navbar navbar-expand-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="/">J.I.M.</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ladder">Ladder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="roster">Roster</a>
          </li>
          {% if admin %}
            <li class="nav-item">
              <a class="nav-link" href="player_form">Players</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="match_form">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="account_form">Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="season_form">Seasons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tournament_form">Tournaments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="token_form">Tokens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news_form">News</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="player_form_restricted">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile">My Profile</a>
            </li>
            {% if player_reports_matches %}
            <li class="nav-item">
              <a class="nav-link" href="match_form_restricted">Report Match</a>
            </li>
            {% end %}
          {% end %}
        </ul>
        <a class="nav-link" href="logout">Logout</a>
      </div>
    </nav>

    <div class="container-fluid">
      <h1>Player Information</h1>
      <main class="col-sm-12 col-md-12 pt-3" role="main">
        <div id="player_list">
        </div>
        <form id="player_form" method="get" action="/"
              onsubmit="return false">
          <div class="row">
            <label for="name"><span style="font-weight:bold;">Name</span></label>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="first_name">First</label>
              <input id="first_name" name="first_name" class="form-control" maxlength="255" value="">
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Last</label>
              <input id="last_name" name="last_name" class="form-control" maxlength="255" value="">
            </div>
          </div>
          <div class="row">
            <label><span style="font-weight:bold;">Login</span></label>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
              <input id="username" name="username" type="text" class="form-control" maxlength="255" value="">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password (leave blank if not changing)</label>
              <input id="password" name="password" type="password" class="form-control" maxlength="255" value="">
            </div>
          </div>
          <div class="row">
            <label><span style="font-weight:bold;">Contact</span></label>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="home_phone">Home Phone(###-###-####)</label>
              <input id="home_phone" name="home_phone" class="form-control" maxlength="12" value="" type="text">
            </div>
            <div class="form-group col-md-4">
              <label for="work_phone">Work Phone(###-###-####)</label>
              <input id="work_phone" name="work_phone" class="form-control" maxlength="12" value="" type="text">
            </div>
            <div class="form-group col-md-4">
              <label for="cell_phone">Cell Phone(###-####-####)</label>
              <input id="cell_phone" name="cell_phone" class="form-control" maxlength="12" value="" type="text"> -
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="email">E-mail </label>
              <input id="email" name="email" class="form-control" type="text" maxlength="255" value=""/>
            </div>
          </div>
          <div class="row">
            <label><span style="font-weight:bold;">Company</span></label>
            <div class="form-group col-md-12">
              <input id="company" name="company" class="form-control" type="text" maxlength="255" value=""/>
            </div>
          </div>
          <div class="row">
            <label><span style="font-weight:bold;">Location</span></label>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <input id="location" name="location" class="form-control" type="text" maxlength="255" value=""/>
            </div>
            <div class="form-group col-md-6">
              <input id="wlocation" name="wlocation" class="form-control" type="text" maxlength="255" value=""/>
            </div>
          </div>
          <div class="row">
            <label><span style="font-weight:bold;">Note</span></label>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="note">Anything you would like other players to know</label>
              <input id="note" name="note" class="form-control" type="text" maxlength="255" value=""/>
            </div>
          </div>
          <div class="row">
            <input type="submit" class="btn-block" type="button" value="Update" onclick="process_player_form('update_player_restricted')" >
          </div>
        </form>
      </main>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.4/umd/popper.min.js" integrity="sha256-KTKnuJPRS70XKLm+ka+irprJFaz/MLZQKHIID7ECCmw=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
