<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Season Setup Form</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="calendar.js"></script>
<script type="text/javascript" src="form_handler.js"></script>
</head>
<body id="main_body" >
  <img id="top" src="top.png" alt="">
    <div id="form_container">

      <h1><a>Season Setup Form</a></h1>
      <form id="season_form" class="appnitro"  method="post" action="/"
            onsubmit="return false">
        <div class="form_description">
          <h2>Season Setup Form</h2>
          <h3><a href="main_menu">Main Menu</a>
            <a href="logout">Logout</a></h3>
        </div>
        <div id="season_list"></div>
        <input id="new_season" class="button_text" type="button" name="new_season" value="Start New Season" onclick="check_season_form('new_season')"/>
        <ul >
          <li id="li_8" >
            <label class="description" for="title">Season Title </label>
            <div>
              <input id="title" name="title" class="element text medium" type="text" maxlength="255" value=""/>
            </div>
          </li>
          <li id="li_5" >
            <label class="description" for="start_date">Season start date </label>
            <span>
              <input id="start_date_1" name="start_date_1" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="start_date_1">MM</label>
            </span>
            <span>
              <input id="start_date_2" name="start_date_2" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="start_date_2">DD</label>
            </span>
            <span>
              <input id="start_date_3" name="start_date_3" class="element text" size="4" maxlength="4" value="" type="text">
              <label for="start_date_3">YYYY</label>
            </span>
            <span id="calendar_start">
              <img id="cal_img_start" class="datepicker" src="calendar.gif" alt="Pick a date.">
            </span>
            <script type="text/javascript">
              Calendar.setup({
              inputField         : "start_date_3",
              baseField    : "start_date",
              displayArea  : "calendar_start",
              button                 : "cal_img_start",
              ifFormat         : "%B %e, %Y",
              onSelect         : selectDate
              });
            </script>
	  </li>
          <li id="li_6" >
            <label class="description" for="end_date">Season end date </label>
            <span>
              <input id="end_date_1" name="end_date_1" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="end_date_1">MM</label>
            </span>
            <span>
              <input id="end_date_2" name="end_date_2" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="end_date_2">DD</label>
            </span>
            <span>
              <input id="end_date_3" name="end_date_3" class="element text" size="4" maxlength="4" value="" type="text">
              <label for="end_date_3">YYYY</label>
            </span>
            <span id="calendar_end">
              <img id="cal_img_end" class="datepicker" src="calendar.gif" alt="Pick a date.">
            </span>
            <script type="text/javascript">
              Calendar.setup({
              inputField         : "end_date_3",
              baseField    : "end_date",
              displayArea  : "calendar_end",
              button                 : "cal_img_end",
              ifFormat         : "%B %e, %Y",
              onSelect         : selectDate
              });
            </script>
          </li>
          <li id="li_7" >
            <label class="description" for="tournament_date">Tournament start date </label>
            <span>
              <input id="tournament_date_1" name="tournament_date_1" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="tournament_date_1">MM</label>
            </span>
            <span>
              <input id="tournament_date_2" name="tournament_date_2" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="tournament_date_2">DD</label>
            </span>
            <span>
              <input id="tournament_date_3" name="tournament_date_3" class="element text" size="4" maxlength="4" value="" type="text">
              <label for="tournament_date_3">YYYY</label>
            </span>
            <span id="calendar_tour">
              <img id="cal_img_tour" class="datepicker" src="calendar.gif" alt="Pick a date.">
            </span>
            <script type="text/javascript">
              Calendar.setup({
              inputField         : "tournament_date_3",
              baseField    : "tournament_date",
              displayArea  : "calendar_tour",
              button                 : "cal_img_tour",
              ifFormat         : "%B %e, %Y",
              onSelect         : selectDate
              });
            </script>
          </li>
        </ul>
      </form>
      <div id="footer">
        Generated by <a href="http://www.phpform.org">pForm</a>
      </div>
    </div>
    <img id="bottom" src="bottom.png" alt="">
  </body>
</html>
