<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Token Setup Form</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="calendar.js"></script>
<script type="text/javascript" src="form_handler.js"></script>
</head>
<body id="main_body" >
  <img id="top" src="top.png" alt="">
    <div id="form_container">

      <h1><a>Token Setup Form</a></h1>
      <form id="token_form" class="appnitro"  method="post" action="/"
            onsubmit="return false">
        <div class="form_description">
          <h2>Token Setup Form</h2>
          <h3><a href="main_menu">Main Menu</a>
            <a href="logout">Logout</a></h3>
        </div>
        <div id="token_list"></div>
        <input id="new_token" class="button_text" type="button" name="new_token" value="Generate Token" onclick="process_token_form('new_token')"/>
        <ul >
          <li id="li_5" >
            <label class="description" for="since_date">Show matches since </label>
            <span>
              <input id="since_date_1" name="since_date_1" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="since_date_1">MM</label>
            </span>
            <span>
              <input id="since_date_2" name="since_date_2" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="since_date_2">DD</label>
            </span>
            <span>
              <input id="since_date_3" name="since_date_3" class="element text" size="4" maxlength="4" value="" type="text">
              <label for="since_date_3">YYYY</label>
            </span>
            <span id="calendar_start">
              <img id="cal_img_start" class="datepicker" src="calendar.gif" alt="Pick a date.">
            </span>
            <script type="text/javascript">
              Calendar.setup({
              inputField         : "since_date_3",
              baseField    : "since_date",
              displayArea  : "calendar_start",
              button                 : "cal_img_start",
              ifFormat         : "%B %e, %Y",
              onSelect         : selectDate
              });
            </script>
          </li>
          <li id="li_6" >
            <label class="description" for="expires_date">Token expires on </label>
            <span>
              <input id="expires_date_1" name="expires_date_1" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="expires_date_1">MM</label>
            </span>
            <span>
              <input id="expires_date_2" name="expires_date_2" class="element text" size="2" maxlength="2" value="" type="text"> /
              <label for="expires_date_2">DD</label>
            </span>
            <span>
              <input id="expires_date_3" name="expires_date_3" class="element text" size="4" maxlength="4" value="" type="text">
              <label for="expires_date_3">YYYY</label>
            </span>
            <span id="calendar_end">
              <img id="cal_img_end" class="datepicker" src="calendar.gif" alt="Pick a date.">
            </span>
            <script type="text/javascript">
              Calendar.setup({
              inputField         : "expires_date_3",
              baseField    : "expires_date",
              displayArea  : "calendar_end",
              button                 : "cal_img_end",
              ifFormat         : "%B %e, %Y",
              onSelect         : selectDate
              });
            </script>
          </li>
        </ul>
      </form>
      <div id="footer">
        Generated by <a href="http://www.phpform.org">pForm</a>
      </div>
    </div>
    <img id="bottom" src="bottom.png" alt="">
  </body>
</html>
