<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Tournament Form</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="calendar.js"></script>
<script type="text/javascript" src="form_handler.js"></script>
</head>
<body id="main_body" >
  <img id="top" src="top.png" alt="">
    <div id="form_container">
      <h1><a>Tournament Form</a></h1>
      <form id="tournament_form" class="appnitro"  method="post" action="update_tournament">
        <div class="form_description">
          <h2>Tournament Form</h2>
          <h3><a href="main_menu">Main Menu</a>
            <a href="logout">Logout</a></h3>
        </div>
        <input id="update_tournament" class="button_text" type="submit" name="update" value="Update">
        <input id="reset_form" class="button_text" type="reset" name="reset" value="Reset">
        <ul >
          <li id="li_1" >
            <label class="description" for="start_date">Tournament Start Date </label>
            <span>
              <input id="start_date_1" name="start_date_1" class="element text" size="2" maxlength="2" value="{{start_date_1}}" type="text"> /
              <label for="start_date_1">MM</label>
            </span>
            <span>
              <input id="start_date_2" name="start_date_2" class="element text" size="2" maxlength="2" value="{{start_date_2}}" type="text"> /
              <label for="start_date_2">DD</label>
            </span>
            <span>
              <input id="start_date_3" name="start_date_3" class="element text" size="4" maxlength="4" value="{{start_date_3}}" type="text">
              <label for="start_date_3">YYYY</label>
            </span>
            <span id="calendar_start">
              <img id="cal_img_start" class="datepicker" src="calendar.gif" alt="Pick a date.">
            </span>
            <script type="text/javascript">
              Calendar.setup({
              inputField         : "start_date_3",
              baseField    : "start_date",
              displayArea  : "calendar_start",
              button                 : "cal_img_start",
              ifFormat         : "%B %e, %Y",
              onSelect         : selectDate
              });
            </script>
          </li>  <li id="li_2" >
	      <label class="description" for="min_matches">Minimum matches to qualify</label>
	      <div>
		<input id="min_matches" name="min_matches" class="element text" type="text" maxlength="8" size="8" value="{{min_matches}}"/>
	      </div>
          </li>  <li id="li_3" >
	      <label class="description" for="min_opponents">Minimum opponents to qualify</label>
	      <div>
		<input id="min_opponents" name="min_opponents" class="element text" type="text" maxlength="8" size="8" value="{{min_opponents}}"/>
	      </div>
        </ul>
      </form>
      <div id="footer">
        Generated by <a href="http://www.phpform.org">pForm</a>
      </div>
    </div>
    <img id="bottom" src="bottom.png" alt="">
  </body>
</html>
